.cell {
	width: 70px;
	height: 70px;
	position: absolute;
	transition: top 0.1s linear, left 0.1s linear;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;

	&__content {
		font-size: 18px;
		font-weight: 700;
		color: #747474;
		width: 64px;
		height: 64px;
		border-radius: 3px;
		background: peachpuff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.1s ease-in;
	}
}
