.cell {
	width: 70px;
	height: 70px;
	position: absolute;
	transition: top 100ms linear, left 100ms ease-in-out;
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;

	&__content {
		font-size: 20px;
		font-weight: 700;
		color: black;
		width: 64px;
		height: 64px;
		border-radius: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 50ms ease-in;
	}
}
